
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>系统信息</cite></a>
  </div>
</div>
<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-card">
      <div class="layui-card-header"><span style="font-weight: 600;font-size: 14px;">系统信息总览</span></div>
      <div class="layui-card-body">
        <div class="layui-col-sm3"><h4 style="color: #424242">系统类型</h4></div>
        <div class="layui-col-sm3"><h4 style="color: #424242">系统版本</h4></div>
        <div class="layui-col-sm3"><h4 style="color: #424242">计算机名称</h4></div>
        <div class="layui-col-sm3"><h4 style="color: #424242">内存使用数值</h4></div>
        <div class="layui-row">
          <div class="layui-col-sm3"><b id="SystemType" style="color: #424242"></b></div>
          <div class="layui-col-sm3"><b id="SystemVersion" style="color: #424242"></b></div>
          <div class="layui-col-sm3"><b id="ComputerName" style="color: #424242"></b></div>
          <div class="layui-col-sm3"><b id="MemoryUsageValues" style="color: #424242"></b></div>
        </div>
        <div class="layui-row">
          <div class="layui-col-md3"><h4 style="color: #424242">python版本</h4></div>
        </div>
        <div class="layui-row">
          <div id="PythonVersion" class="layui-col-md3" style="color: #424242"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use('console', layui.factory('console'));
  layui.use(['element', 'admin'], function() {
    const { element, admin } = layui;
    admin.req({
      url:'/api/systeminfo/'
      ,type: 'post'
      ,done: function(res) {
        $('#SystemType').text(res.data.platform);
        if (res.data.platform === 'Windows') {
          $('#SystemVersion').text('Windows'+res.data.release+'#'+res.data.version);
        } else {
          $('#SystemVersion').text(res.data.version);
        }
        $('#ComputerName').text(res.data.name);
        $('#MemoryUsageValues').text(res.data.MemoryUsed+'GB'+'/'+res.data.MemoryTotal+'GB');
        $('#PythonVersion').text(res.data.python_version);

      }
    });
  });
</script>