
<title>设置我的资料</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>设置</cite></a>
    <a><cite>我的资料</cite></a>
  </div>
</div>
  
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">设置我的资料</div>
        <div class="layui-card-body" pad15>
          
          <div class="layui-form" lay-filter="">
            <div class="layui-form-item">
              <label class="layui-form-label">我的角色</label>
              <div class="layui-input-inline">
                <select id="role" name="role" lay-verify="">
                  <option value="1" >超级管理员</option>
                  <option value="2" >普通管理员</option>
                  <option value="3" >审核员</option>
                  <option value="4" >编辑人员</option>
                </select> 
              </div>
              <div class="layui-form-mid layui-word-aux" style="display: none">当前角色不可更改为其它角色</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-inline">
                <input type="text" id="username" name="username" readonly class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">不可修改。一般用于后台登入名</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">昵称</label>
              <div class="layui-input-inline">
                <input type="text" id="nickname" name="nickname" lay-verify="nickname" autocomplete="off" placeholder="请输入昵称" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">性别</label>
              <div class="layui-input-block">
                <input id="sex_man" type="radio" name="sex" value="男" title="男">
                <input id="sex_female" type="radio" name="sex" value="女" title="女">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">头像</label>
              <div class="layui-input-inline">
                <input name="avatar" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址" class="layui-input">
              </div>
              <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                  <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button >
              </div>
           </div>
            <div class="layui-form-item">
              <label class="layui-form-label">手机</label>
              <div class="layui-input-inline">
                <input type="text" id="cellphone" name="cellphone" lay-verify="phone" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                <input type="text" id="email" name="email" lay-verify="email" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                <textarea id="remarks" name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
layui.use('set', layui.factory('set'));

layui.use(['view', 'admin', 'form', 'upload', 'laytpl'], function() {
  var $ = layui.$
          , layer = layui.layer
          , laytpl = layui.laytpl
          , setter = layui.setter
          , view = layui.view
          , admin = layui.admin
          , form = layui.form
          , upload = layui.upload;
  admin.req({
    url: '/api/userinfo/'
    , done: function (res) {
      console.log(res);
      $('#username').val(res.data.username)
      $('#nickname').val(res.data.user);

      //
      const $man = $('#sex_man');
      const $female = $('#sex_female');
      $man.attr("checked", res.data.sex === $man.attr("value"));
      $female.attr("checked", res.data.sex === $female.attr("value"));

      $('#LAY_avatarSrc').val(res.data.avatar);

      $('#cellphone').val(res.data.cellphone);

      $('#email').val(res.data.email);

      $('#remarks').val(res.data.remarks);

      //
      $("#role option[selected]").removeAttr("selected");
      $("#role option[value=" + res.data.role + "]").attr("selected", "selected");
      $("#role option").each(function () {
        const $item = $(this);
        const value = Number($item.attr('value'));
        const disabled = (value !== res.data.role);
        $item.attr('disabled', disabled)
      });

      form.render();
    }
  });
});
</script>